header {
  --header-background-color: #259bc1;
  /*color: rgba(255, 255, 255, 0.1);*/
  --header-text-color: #ffffff;
  --header-width: 1230px;
  --header-height: 50px;
  --header-padding-lr: 116px;
  --header-padding-tb: 16px;

  --logo-text-font-size: 11px;
  --logo-text-line-height: 12px;

  --filter-text-line-height: 17px;
  --filter-text-font-size: 14px;
  
   /*
  width: var(--filter-button-width);
  height: var(--filter-button-height);

  /* --filter-button-width: 32px;
  --filter-button-height: 32px;
  --filter-active-button-border-radius: 8px;
  */

  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--header-height) !important;
  padding: 0 var(--header-padding-lr);

  background-color: var(--header-background-color);
  color: var(--header-text-color);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.1875rem; /* 3px */
}

.logo-text {
  font-size: 11px;
  line-height: 12px;
  text-transform: uppercase;
}

.filter {
  display: flex;
  align-items: center;

  gap: 1rem;
  line-height: var(--filter-text-line-height);
  font-size: var(--filter-text-font-size);

  color: rgba(255, 255, 255, 0.5);
}

.filter button {
  border: none;
  background: transparent;
  cursor: pointer;

  /* figma */
  color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  font-size: 14px;
  line-height: 18px;

  text-align: center;

  padding: 0;
  aspect-ratio: 1 / 1; 
}

.filter button.active {
  padding: 8px 9px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
  header {
    padding-inline: 24px;
  }
}