.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 18px 117px;
  background-color: inherit;
}

@media (max-width: 768px) {
  .controls  {
    padding-inline: 24px;
  }

  .create-account {
    width: 100%;
   }
}